.roll-dialog {
  overflow: visible;

  .window-content {
    overflow: visible;
  }
  .modifiers {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .modifier-entry {
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    &:not(:first-of-type) {
      border-top: 1px solid var(--color-border);
    }
    input[type='checkbox'] {
      margin: auto;
    }
  }

  .new-modifier-value,
  .new-modifier-label {
    padding-right: 0;
  }

  .no-modifiers,
  .modifier-entry {
    text-align: center;
    font-weight: bold;
    padding: 0.25em;
    &.footer {
      padding: 0;
      column-gap: 0.25rem;
    }
  }

  .presets {
    .toggle-list {
      display: block;
      text-align: left;
      height: calc(var(--input-height) + 1px);
      width: 100%;
      padding: 0 3px;
      .fa-solid {
        margin: 0 0.2rem;
        transition: rotate 250ms ease;
      }
      .rotate {
        rotate: 90deg;
      }
    }
    .dropdown {
      position: absolute;
      padding: 0.25em;
      border: 1px solid var(--color-border);
      border-radius: 4px;
      background: var(--background);
      backdrop-filter: blur(4px);
      transition: height 200ms ease;
      overflow: hidden;
      &.collapsed {
        border: none;
        height: 0px;
        padding: 0;
      }
    }
    .searchBox {
      margin-bottom: 0.5em;
    }
    .selections {
      padding: 0;
      margin: 0;
      max-height: 300px;
      overflow-y: auto;
      overflow-x: hidden;
      scrollbar-gutter: stable;
    }
    .group-header {
      font-weight: 700;
      margin: 0.25em;
      border-bottom: 1px solid var(--color-border-light-tertiary);
    }
    .modifier {
      margin-left: 0.25em;
      padding-right: 0.25em;
      width: 95%;
      button {
        margin: 0 0 0 0.25em;
        border: none;
        background: transparent;
        justify-content: start;
        width: 100%;
        &:hover,
        &:focus-visible {
          outline: 1px solid var(--button-focus-outline-color);
          box-shadow: 0 0 4px var(--button-focus-outline-color);
          background: var(--button-hover-background-color);
          color: var(--button-hover-text-color);
          border-color: var(--button-hover-border-color);
        }
      }
    }
  }
  .add-modifier,
  .add-preset {
    line-height: inherit;
  }
  .header {
    text-align: center;
    border-bottom: 2px groove var(--color-fieldset-border);
  }
  .form-footer {
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: none;
  }
  .formula {
    textarea {
      field-sizing: content;
      resize: none;
      min-height: auto;
      user-select: text;
      word-break: break-word;
      color: var(--input-text-color);
    }
  }
}
